@model IEnumerable<EstradaDental.Models.Admxx>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var admxx in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => admxx.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.apellidoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.apellidoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.fechaNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => admxx.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= admxx.Id }) |
            @Html.ActionLink("Details", "Details", new { id= admxx.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id= admxx.Id })
        </td>
    </tr>
}

</table>
