@model IEnumerable<EstradaDental.Models.Cita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.confirmacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.confirmacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.citaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.citaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.citaID })
        </td>
    </tr>
}

</table>
