@model IEnumerable<EstradaDental.Models.Historial>

@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Index</h2>

@*<p>
   // <a class="btn btn-danger" href="Historials/Create" role="button">Create New</a>
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.clienteID)*@<p>Name</p>
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientes.nombre)
            @*<p name="nombre"></p>*@
            
        </td>
      
    </tr>
}
    </table>

    